%section
  %article
    %header
      %h1.main-title Little Viking Games
    = render :partial => "form"
    .screenshots
      %h2 Screenshots of Guerrilla Checkers on Android:
      = image_tag "guerrilla-checkers-screenshot-1.png"
      = image_tag "guerrilla-checkers-screenshot-2.png"

